<h1>הבחירה שלכם לחתונה המושלמת</h1>

<div class="contain margin-bottom">
    <mat-card [style.backgroundImage]="'url(/assets/Image/Halls/h.jpg)'" routerLink="/Halls">
        <div class="overlay">
            <div class="text">אולמות אירועים</div>
        </div>
    </mat-card>

    <mat-card [style.backgroundImage]="'url(/assets/Image/Dresses/home.jpg)'" routerLink="/Suppliers/2">
        <div class="overlay">
            <div class="text">שמלות כלה</div>
        </div>
    </mat-card>


    <mat-card [style.backgroundImage]="'url(/assets/Image/Makeup/home2.png)'" routerLink="/Suppliers/3">
        <div class="overlay">
            <div class="text">איפור כלות</div>
        </div>
    </mat-card>

    <mat-card [style.backgroundImage]="'url(/assets/Image/Hair/home.png)'" routerLink="/Suppliers/4">
        <div class="overlay">
            <div class="text">עיצוב שיער</div>
        </div>
    </mat-card>

    <mat-card class="margin-right" [style.backgroundImage]="'url(/assets/Image/Suits/homePage.jpg)'"
        routerLink="/Suppliers/5">
        <div class="overlay">
            <div class="text">חליפות חתן</div>
        </div>
    </mat-card>

    <mat-card [style.backgroundImage]="'url(/assets/Image/Photo/home.jpg)'" routerLink="/Suppliers/6">
        <div class="overlay">
            <div class="text">צילום אירועים</div>
        </div>
    </mat-card>

    <mat-card [style.backgroundImage]="'url(/assets/Image/Dj/home.jpg)'" routerLink="/Suppliers/7">
        <div class="overlay">
            <div class="text">די-ג'י</div>
        </div>
    </mat-card>

</div>


<section class="margin-bottom" routerLink="SuitChoice">
    <img class="blog_img" src="assets/Image/Home/חפתים.jpg">
    <div class="blog">
        <h2>איך לבחור חליפה לחתונה – המדריך המלא</h2>
    </div>
</section>



<div class="contain margin-bottom">

    <div class="article-item" routerLink="TipsForBride">
        <img src="assets/Image/Home/2021-11-07 (13).png">
        <div class="item-content">
            <h2>דברים שחשוב לדעת על איפור ושיער - בבוקר החתונה</h2>
            <hr />
            <p>כמה שעות לפני שהחתונה מתחילה באופן רשמי,
                כל כלה מתעוררת לבוקר התארגנות שכולל איפור ועיצוב שיער, בילוי עם
                מלוות או משפחה והתחלה של צילומים רגע לפני המפגש עם החתן.</p>
        </div>
    </div>

    <div class="article-item" routerLink="WeddingDressChoice">
        <img src="assets/Image/Home/שמלה2.jpg">
        <div class="item-content">
            <h2>כל הדרך לבחירת שמלת כלה</h2>
            <hr />
            <p>כשאנחנו חושבות על בחירת שמלת כלה,
                הראש מתחיל לכאוב. מהיכן מתחילים? איך בוחרים דבר כל כך חשוב?

            </p>
            <p> עשינו לכם סדר בדרך לבחירת שמלת כלה </p>
        </div>
    </div>



    <div class="article-item" routerLink="/QA">
        <img src="assets/Image/Home/9a780e49933e04d601ba295f1efb1b44.jpg">
        <div class="item-content">
            <h2> שאלות תשובות</h2>
            <hr />
            <p>עשינו לכם סדר בכל מה שרציתם לדעת בנושא החתונה</p>
            <p>ש: התארסנו!! מה עכשיו? </p>
            <p>ת: עכשיו תנשמי, נראה לך שלארגן חתונה זה אחד הדברים הכי מסובכים </p>
        </div>
    </div>

</div>