.mat-card-title,h1 ,h3{ 
    color: #9e5430;
   text-align: center;
   margin: 4% 0 3%;
  }

.mat-card{
    position: unset;
    padding: 7px;
    margin: 1%;
    width: 29vw; 
    height: 60vh;
    display: inline-block;
}

.mat-card-supp{
    height: 55vh;
    /* 75 */

}

h1{
    margin: 3% 0;
font-size: 35px;
}

.mat-card-title{
    border-left: #8f8d8d 1px solid;
    padding-left: 11px;
}

img{
    height: 89%;
    width: 98%;
    padding:4px;
    margin:  2px  ;
}

/* .img_hall{
    height: 43%;
    margin-top: 25%;
} */

button{

    border:none;
    background-color: white;
}
.material-icons  {
    color: #c08466;
} 
.white{
    color: white;
}
input::placeholder{
    font-size: 18px;
}
.search {
    position: relative;
 width:46%;
 margin: 3% auto;
  }
input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 18px 30px 15px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
  }
  .search-botton {
    position: absolute;
   left: 0px;

    top: 0px;
    bottom: 0px;
    border: 0;
    background: #c08466;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 30px;
    border-radius: 20px 0 0 20px;
    z-index: 2;
  }

  div{
      text-align: center;
  }

  p{
      text-align: center;
      font-size: 20px;

    } 

    /* height: 56vh; */