<h1>הדרך לבחירת שמלת כלה</h1>

<div id="contact">
    <div>
        <img src="assets/Image/Dresses/MALKI AMAR/home.png" class="left">

        <h2>
            היי כלה
        </h2>
        <p>
            לרבות מאתנו יש בראש כבר בגיל 15 את שמלת הכלה שנלבש. בגיל 18 אנחנו מתחילות להסתפק אם זו אכן השמלה, וברגע שאנו
            מתארסות – אין לנו מושג מה השמלה שלנו. ולא רק שאין לנו מושג, הכל פתאום נראה לא מתאים. אז ישבנו לעשות לך קצת
            סדר, לפני הבחירה הכי משמעותית לאירוע שלך: מאיפה מתחילים לבחור שמלת כלה?
        </p>

        <h2>איזה סגנון שמלה?</h2>
        <p>
            ראשית, שבי עם עצמך ורשמי נקודות כלליות איזו סוג שמלה את רוצה ואוהבת. שמלה צרה / שמלה נפוחה, בד חלק / בד עם
            עיטורים, כן פנינים / לא פנינים קווים כללים.
        </p>

        <p>
            אחר כך חפשי דוגמאות לשמלות כאלה בקטלוגים השונים, או באתר שלנו 'Get Married ' בתיקי העבודות של המעצבות. זכרי,
            איך שהשמלה נראית על הדוגמנית שבקטלוג, לא בהכרח שהיא תראה גם עליך ככה. שמלות אלו נתפרו מיוחד על פי מידות
            הדוגמניות שבתמונה, וכל שינוי לפה ולשם יכול לייצור מראה שונה.

        </p>

        <p>
            נוחות: חלק חשוב מאוד! יש שמלות שנראות מושלם, אבל לא מתאימות לכלה ביום חתונתה. השמלה הזו הולכת לשבת עליך יום
            שלם, ואם תתחילי לריב ביום הזה עם כל מיני חתיכות בד שישתרכו ממך, או שילחץ לך כ"כ שיהיה קשה לרקוד – גם המראה
            בסוף לא יהיה מושלם. ההרגשה שלך מאוד תשפיע על המראה, לכן תבחרי שמלה שנח לך איתה, שתוכלי לשבת, לרקוד, להתחבק,
            ללכת בלי להרגיש מוגבלת, ותראי שככה תרגישי הכי כלה שיכולה להיות. גם אחרי שבחרת קווים כלליים, אל תבואי נעולה,
            לפעמים במדידות תראי ששמלה כזו בכלל לא הולמת אותך.
        </p>

        <p>
            לא פעם יש לנו בראש שמלה מסוימת רק בגלל שראינו שמלה כזו על מישהי שהיא השראה בשבילנו, אבל מה שמתאים לה, לא
            תמיד יהלום גם אותנו.
        </p>

        <h2>קביעת פגישה אצל המעצבת:</h2>
        <p>
            אחרי שיש לך כיוון לשמלה, הגיע הזמן ללכת למעצבות ולהתרשם. המלצה שלי, אל תלכי ליותר מידי מעצבות, בטח לא ביום
            אחד, את עלולה להתעייף, ולסגור מעייפות עם מי שכלל לא מתאימה לך. ואל תקבעי יותר מ2-3 מעצבות ביום. וכדי לקבל
            יחס מקצועי ואישי, חשוב לקבוע מראש עם המעצבת, ולא לבוא לביקור 'על הדרך'.
        </p>


    </div>

    <div>
        <img src="assets/Image/Dresses/SARI ELYANI/‏‏Taya-768x1152 - עותק.jpg" class="right">

        <h2>בחירת מלווה:</h2>
        <p>
            לפגישה עם המעצבת תבואי עם אמא, או חברה טובה. לא לבוא עם יותר ממלווה אחת, את תצאי מבולבלת מהדעות של כולם. קחי
            איתך מישהי שמכירה את הטעם שלך, ואת סומכת עליה. מלווה שרק תייעץ לך איזו שמלה היא הכי אוהבת – לא מתאימה לך, את
            צריכה שהמלווה תחווה דעה מה הכי תואם לך!
        </p>

        <h2>בחירת מעצבת:</h2>
        <p>
            המעצבת שתתפור לך את השמלה, היא לא עוד ספקית ברשימת הספקים שתפגשי בתקופה הקרובה,היא צריכה להיות שם בשבילך,
            וכדאי מאוד שתהיה ביניכם כימיה. את צריכה להרגיש בנח להעיר לה, ולהפנות את תשומת ליבה לדברים מסוימים שאת לא
            אוהבת, כי אחרי שהיא תתחיל לעבוד, ולא תדעי להעיר לה – את תהיי בבעיה. המעצבת הולכת לשמוע ממך חששות והתלבטויות
            עד רגע לפני החתונה שלך, אז מאוד חשוב שתרגישו בנח אחת עם השניה.וגם שהמעצבת תדע להרגיע אותך כשצריך. חשוב לבדוק
            שהמעצבת גם אמינה ומביעה את דעתה המקצועית. מעצבת שאומרת על כל שמלה שאת נראית בה מעולה, ושאין שמלה שיותר
            מתאימה לך מזו – רק כדי שתסגרי איתה כבר,שמרי מרחק ממנה.מעצבת טובה צריכה להביע את דעתה בצורה נכונה, ולא להתעלם
            מדעתה המקצועית.
        </p>


        <h2>המחיר ומה כלול בו:</h2>
        <p>

            שמלת כלה זה דבר יקר, בטח את יודעת.פערי המחירים בין המעצבות הוא גדול מאוד. חשוב שתתאימי את המעצבת לפי התקציב
            שלך, ולא תמיד הכי יקר הוא הכי יפה.חשוב לבדוק עם המעצבת מה כלול במחיר, האם כמות המדידות והתיקונים מוגבלת? האם
            זה כולל הינומה? כולל מע"מ? וכו'. וכמו תמיד, לא מסיימים את התשלום לפני שמקבלים את השמלה מוכנה ללא שום תיקון.
        </p>


        <h2>השמלה יוצאת לדרך:</h2>
        <p>
            בחרת מעצבת? בחרת שמלה? המעצבת יצאה לדרך עם השמלה? מעולה!הקפידי לתזכר את המעצבת שאת צריכה את השמלה לפחות שבוע
            קודם תאריך החתונה, כדי שאם יהיו תיקונים של הרגע האחרון – שנספיק לעשות אותם. אל תתביישי 'לנדנד' למעצבת עם
            הרצונות שלך. אם משהו לא נראה לך- שתפי אותה, היא תשמע אותך ותחווה את דעתה המקצועית. זה היום שלך, וכל מעצבת
            יודעת שאת אמורה להיות הכי מאושרת ביום הזה. המון מזל טוב
            ובהצלחה!
        </p>


    </div>
</div>