<h1>דברים שחשוב לדעת על איפור ושיער בבוקר החתונה</h1>
<img id="bridal" src="assets\Image\Home\tips.png">
<div id="contact">
<p>
  כמה שעות לפני שהחתונה מתחילה באופן רשמי, כל כלה מתעוררת לבוקר התארגנות שכולל איפור ועיצוב שיער, בילוי עם
</p>
<p>
    מלוות או משפחה והתחלה של צילומים רגע לפני המפגש עם החתן. זה הזמן של הכלה להירגע לפני האירוע הגדול, לתת אמון
</p>
<p>
    בספקים שבחרה לעצמה שיעשו אותה הכי יפה שיש ובעיקר לנטרל את עצמה ממחשבות ולהתמסר לכיף של היום הגדול שלה.
</p>
<p>
    מכיוון שלכן, הכלות, יש מספיק על הראש בכל הקשור למחשבות ולתכנון החתונה עצמה, החלטנו לרכז עבורכן כמה טיפים
</p>
<p>
    ודברים שחשוב שתדעו בנושא איפור ושיער בבוקר ההתארגנות שלכן. תמיד טוב לדעת מראש איך להיערך, כדי להבטיח שתצאו
</p>
<p>
    הכי יפות ביום החתונה שלכן ובמקביל תרגישו הכי נינוחות וקול. הנה כל מה שאתן צריכות לדעת לפני בוקר ההתארגנות שלכן:
</p><br>
<img src="assets\Image\Home\1-1.jpg">
<h2>לא להתאפר בשבוע שלפני החתונה</h2>
<p>
    המאפרת איבט, שאנחנו מאוד אוהבות ומעריכות, מסבירה שחשוב לתת לעור לנשום לפחות שבוע לפני החתונה, כדי להבטיח
</p>
<p>
    שהוא יהיה במיטבו וכדי שהאיפור ישב עליו באופן מושלם. “אני גם ממליצה להקפיד למרוח מרכך שפתיים בשבוע לפני כדי
</p>
<p>
    למנוע שפתיים יבשות”. בנוסף ממליצה איבט לא לוותר על מריחת קרם פנים טוב כדי להעניק לעור הפנים לחות מקסימלית.
</p>

<img src="assets\Image\Home\2.jpg">
<h2>לישון טוב ערב לפני</h2>
<p>
    “תעשו כל מאמץ לישון טוב ערב לפני החתונה”, אומרת איבט. “שינה טובה גורמת לעיניים לא להיראות נפוחות ועייפות”. גם
</p>
<p>
אם מתחשק לכן לחגוג את ליל הרווקות האחרון שלכן, הקפידו להיכנס למיטה מוקדם ואחרי ארוחה לא כבדה. אנחנו יודעות
</p>
<p>
    שההתרגשות יכולה להשאיר אתכן ערות, אבל השתמשו בכל השיטות שלכן כדי להרוויח כמה שעות שינה טובות ואיכותיות.
</p>
<p>
המלצה שלנו: חלב חם או דייסת קוואקר חמימה ומפנקת בשעות הערב, שיחה עם חברה טובה לפני השינה ,  או ספר טוב.
</p>

<img src="assets\Image\Home\3-1.jpg">
<h2>לשתות המון מים</h2>
<p>
    ידוע ששתיית מים מונעת יובש שניכר בפנים, בשפתיים וגם בשיער. מומחים ממליצים על שתייה של בין 8 ל-10 כוסות מים
</p>
<p>
    ביום, ואנחנו בעד. אתן לא רוצות שפתיים סדוקות ביום החתונה או יובש בפנים – ולכן מומלץ לשתות הרבה מים בימים שלפני
</p>
<p>
    האירוע וגם ביום עצמו. מלבד היתרונות שיבואו לידי ביטוי במראה שלכן, שתייה מספקת של מים תמנע מכן כאבי ראש שיכולים להופיע מלחץ או מהתייבשות
</p>
<p>
    אנחנו ממליצות למנות את המלוות שלכן כאחראיות לוודא שאתן שותות מספיק לאורך היום.
</p>

<img src="assets\Image\Home\4-2.jpg">
<h2>להיכנס למקלחת מרעננת בבוקר</h2>
<p>
    חשוב להתחיל את סשן האיפור והשיער כשאתן נקיות ורעננות. חפפו את הראש ושטפו היטב את עור הפנים. הקפידו כמובן
</p>
<p>
    להסיר איפור, אם לא דאגתן לכך לפני המקלחת. חשוב מאוד לא להשתמש בסבון שאתן לא רגילות אליו כדי לא להיות מופתעות
</p>
<p>
    חס וחלילה באלרגיה או בתגובה של העור לתכשיר חדש. אם אתן מתארגנות מחוץ לבית – קחו אתכן את הסבון שלכן. אותם
</p>
<p>
הכללים חלים על השמפו, המרכך ומסיר האיפור.
</p>

<img src="assets\Image\Home\5.jpg">
<h2>ללבוש חלוק או שמלה שאפשר לפשוט בקלות</h2>
<p>
    כלות רבות לא לוקחות בחשבון שלבישת שמלת הכלה מגיעה לאחר האיפור ועיצוב השיער, והן עלולות להיתקל בקושי לפשוט
</p>
<p>
את הבגדים שלבשו להתארגנות ולצילומים של לפני. איבט ממליצה ללבוש חלוק או שמלה שקל לפשוט – שמלה מכופתרת, או
</p>
<p>
    שמלה עם פתח ראש גדול, שניתן יהיה “להיחלץ” ממנה בקלות מבלי שזה יפגע בתסרוקת או באיפור. אגב, אתן ממש לא חייבות
</p>
<p>
    לבחור להתארגנות אאוטפיט לבן שגם יכול להתלכלך באופן טבעי מהאיפור. תמדדו בבית את הבגד ותוודאו שהוא נוח לכן, יש
</p>
<p>
    לכן כמה שעות טובות לשבת איתו על כיסא האיפור והשיער.
</p>

<img src="assets\Image\Home\6.jpg">
<h2>להשאיר זמן בלו”ז לתיקונים</h2>
<p>
    יכול להיות שברגע שתראו את עצמכן במראה – לא תתחברו. גם אם עשיתן איפור או תסרוקת ניסיון וגם אם לא – ברגע האמת
</p>
<p>
    אתן עלולות לשנות את דעתכן, וזה בסדר. כדאי להשאיר זמן לשינויים ולתיקונים, ולהתייעץ מראש עם המאפר ומעצב השיער
</p>
<p>
    שלכן כיצד תתמודדו במקרה כזה, כדי שתרגישו בטוחות לבקש מהם לעשות שינוי. אל תרגישו לא נעים אם תרצו לערוך שינויים
</p>
<p>
    – מותר לכן, זה היום שלכן וכולם מבינים את זה.
</p>

<img src="assets\Image\Home\7-1.jpg">
<h2>לבקש ערכת טאץ’ אפ והדרכה איך לשים את ההינומה</h2>
<p>
    זה ממש בסדר לבקש מהמאפר ערכת טאץ’ אפ שתוכלו לקחת אתכן לחתונה ולתקן במידת הצורך. מאפרות רבות אף מציעות זאת
</p>
<p>
    ביוזמתם. כדאי לבדוק שהערכה כוללת מסיר איפור חזק, או לבקש הדרכה איך להסיר איפור שאתן פחות רגילות אליו ביומיום
</p>
<p>
    (כמו ריסים מלאכותיים). ממעצבת השיער כדאי לבקש הדרכה איך לשים את ההינומה ואיך להסירה. מומלץ אף לקרוא למלווה או
</p>
<p>
    לאימא שיעשו ניסיון ויראו שהן מצליחות לעשות זאת בלי כל בעיה. אם אתן משתמשות בתוספות שיער לחתונה, מומלץ גם
</p>
<p>
    להתייעץ איך להוריד אותן בהמשך.
</p>
</div>
