<h1>שאלות ותשובות</h1>
<h2>עשינו לכם סדר בכל מה שרציתם לדעת בנושא החתונה</h2>
<img src="assets/Image/Home/asked-questions.jpg">
<div>
    <p class="ques">ש:  התארסנו!! מה עכשיו?    </p>
    <p> ת: עכשיו תנשמי, נראה לך שלארגן חתונה זה אחד הדברים הכי מסובכים שנאלצת להתמודד איתם אבל בעצם, מדובר בפאזל עם מעט
        מאוד חלקים, ברשימת צ'קליסט אפילו, אם תעקבי אחריה- תוכלי לארגן את חתונת חלומותיך.
    </p>

    <p class="ques"> ש: מה הדבר הראשון שכדאי לי לעשות?</p>
    <p>
        ת: אין ספק שהדבר הראשון להתחיל ממנו הוא רשימת המוזמנים. האצילו סמכויות, תנו להורים של כל צד להכין רשימה ולהעביר
        לכם וגם אתם, הכינו כל אחד רשימה נפרדת. עברו על אנשי הקשר בזכרון, על תקופות בחייכם כמו צבא, לימודים חברי ילדות. לאט לאט תתחיל להתגבש רשימה כללית, ממנה תצמצמו.
    </p>
    <p class="ques">
        ש: מה עושים עם הרשימה?</p>
    <p>
        ת: הרשימה הזאת תשמש אתכם, תאמינו או לא, גם עד אחרי החתונה. אנא- עשו מאמץ בזה הרגע והכניסו את השמות והמספרים
        לטבלת אקסל או לתוכנת הiPlan (אם המקום בו סגרתם עובד איתה) והקפידו לעדכן אותה ככל הניתן. גם בתום החתונה כאשר
        תפתחו את הצ'קים, תוכלו להכניס את הנתונים המתאימים באופן מסודר.
    </p>
    <p class="ques">
        ש: אוקיי, יש רשימה. מה הלאה?</p>
    <p> ת: אחרי הרשימה, הדבר החשוב ביותר הוא לסגור תאריך, משמע- לסגור מקום. אחריו, תתחילו ממש כמו פאזל לקבוע עם שלל
        הספקים ולהפוך חלום למציאות.
    </p>
    <p class="ques">
        ש: מתי כדאי להתחיל לתכנן חתונה?</p>
    <p>
        ת: באופן כללי, ככל שתתחילו לתכנן מוקדם יותר, כך תוכלו לבחון את הדברים יותר לעומק ולהגיע להחלטות מושכלות ובלתי
        מתפשרות. אין ספק שאחד הדברים החשובים ביותר הוא הלוקיישן, שכן התאריכים הולכים ואוזלים עם הזמן ואתם לא רוצים
        למצוא עצמכם מתפשרים על תאריך רק כי התחלתם מאוחר מדי.
    </p>
    <p class="ques">
        ש: איך בוחרים גן או אולם אירועים?</p>
    <p>
        ת: החליטו על עקרונות שחשובים לכם כמו יום בשבוע או מיקום גיאוגרפי וכך תסננו רק את המקומות הרלוונטים. לאחר מכן,
        קבעו פגישה והגיעו להתרשם.
    </p>
    <p class="ques">
        ש: לאילו דברים חשוב לשים לב בפגישה באולם?</p>
    <p>
        ת: לכמה מוזמנים הוא מכיל, האם מתקיימים במקום זה מספר אירועים בו זמנית, האם הוא מוגבל מבחינת שעות? האם האקוסטיקה
        תאפשר למבוגרים בצד לדבר? האם למקום יש רשיון עסק? חנייה, גנרטור, אלטרנטיבה ליום גשום? וכו'.
    </p>
    <p class="ques">
        ש: מרגישים אבודים לגמרי? מרגישים שזה לא בשבילכם?</p>
    <p>
        ת: זה בסדר, ניתן למצוא היום בשוק לא מעט חברות או אנשי הפקה מיומנים שידעו לתכנן עבורכם את החתונה ולעשות את כל
        המטלות בשבילכם. יש אנשים שזו עבודתם והיא גם יכולה לכלול מחירים טובים יותר, לכן אם תכנון החתונה לא נראה לכם,
        דעו שיש פתרונות אחרים.
    </p>
    <p class="ques">
        ש: סגרנו אולם! איך מתקדמים?</p>
    <p>
        ת: בשעה טובה, עכשיו ניתן למלא את האולם בכל טוב. די ג'יי, צלם סטילס, וידיאו, קייטרינג ובר, רב, שמלה, איפור, שיער,
        אטרקציות, הסעות, מגנטים, וכל מה שחלמתם עליו כ"כ הרבה זמן. רק שימו לב לתאם עם כולם לתאריך הנכון..
    </p>
    <p class="ques">
        ש: לכמה אורחים להתחייב?</p>
    <p>
        ת: שימו לב! ברוב המקומות, כמעט תמיד ניתן לעלות במספר האורחים אליהם התחייבתם, אבל לא לרדת. אל תרגישו לארג'ים ואל
        תתפתו להתחייב על מספר מופרך שאליו יהיה קשה להגיע. שימו לב שמתוך רשימת המוזמנים שלכם לא כולם יגיעו, וגם מתוך
        אלה שיאשרו שבוע לפני, תמיד יהיו בלתמ''ים שיפגעו בנתונים.
    </p>
    <p class="ques">
        ש: איך יודעים שאיש מקצוע מסויים הוא טוב ואיכותי?</p>
    <p>
        ת: ראשית, אין טוב ממראה עיניים. אם מתאפשר תגיעו לראות אותו מתפקד באירוע אם מדובר בדי ג'יי, הסתכלו על תוצרים אם
        מדובר בצלם. כמו כן, בקשת המלצות יכולה לתרום לכם מאוד, במיוחד מחברים עם טעם דומה.
    </p>
    <p class="ques">
        ש: איך יודעים מי מאפרת טובה?</p>
    <p>
        ת: הרבה מהמאפרות וממעצבות השיער לא מספקות עבודת נסיון כחלק מהעסקה. אם זה לא בא בחשבון, זה משהו שצריך לבדוק מראש.
        כמו כן, ניתן להתרשם מהדף העסקי ולקבוע פגישה כדי להתרשם פנים מול פנים.
    </p>
    <p class="ques">
        ש: ושיער?</p>
    <p>
        ת: יש חלוקה, בעיקר לפי סוג שיער. חשוב לבחור מעצב שיער שידע לעבוד עם שיערך. בין אם חלק או מתולתל, יש שלל אנשי
        מקצוע שמתמחים בסוגי השיער השונים ויוכלו להתמודד איתו ולהוציא ממנו את המירב.
    </p>
    <p class="ques">
        ש: איך בוחרים כמו שצריך את האוכל שיוגש בחתונה?</p><p>
        ת: מדובר כאן על משהו מאוד אינדיווידואלי. יש אנשים שחשוב להם האוכל ולכן, כנראה יבחרו באולם עם קייטרינג מוכר ויש
        כאלה שכבר
        השלימו עם העובדה שאוכל בחתונה לעולם לא יהיה כמו במסעדה ושיחררו. שימו לב לטעום את המנות מראש, לשאול כל שאלה שעולה
        לכם לראש ולוודא כיצד בדיוק הדברים הולכים להראות ביום האירוע, על מנת שתוכלו להיות רגועים שהאורחים שלכם יהיו
        שבעים ממגוון מנות רחב שיתאים למכנה המשותף הרחב ביותר.
    </p>
    <p class="ques">
        ש: יום לפני החתונה, מה נשאר?</p>
    <p>
        ת: מניקור-פדיקור, מעטפות נפרדות לכל מקבלי הטיפים, תשלום לספקים, החליטו מי מסיע אתכם לאירוע ושומר על הרכב בזמן
        הצילומים, בחרו שיר יפה לרגע בו החתן רואה את הכלה, דאגו לאיש קשר בזמן האירוע שיטפל בדברים כמו שולחנות ספייר,
        החליטו לאן לוקחים את הצ'קים בסוף האירוע, הכינו תיק שיהיה איתכם באירוע.
    </p>
    <p class="ques">
        ש: איפה להתארגן ביום החתונה?</p>
    <p>
        ת: הרבה כלות מעדיפות להתארגן בחדר בבית מלון בעיקר כי זה פוטוגני להפליא, אבל לא תמיד נוח לשנע את עצמך בבוקר
        החתונה במוניות עם קולבים, תיקים, שקיות ומה לא. אם את יודעת שאת אדם לחוץ שצריך משהו מוכר ומעדיף פחות להתרוצץ
        בבוקר חשוב כזה, בחרי להתארגן בבית, אצל ההורים, או כל מה שירגיע אותך וירגיש לך נעים.
    </p>
    <p class="ques">
        ש: מה חשוב לזכור בבוקר החתונה?</p>
    <p>
        ת: קודם כל ליהנות, שנית, לאכול! לפעמים ההתרגשות פוגמת ברעב אבל חשוב לזכור שיש יום ארוך לפנייך ואת חייבת להכניס
        משהו לגוף על מנת שיתפקד ושתרגישי טוב וחזקה מספיק להכיל את כל האושר שעומד לבוא.
    </p>

    <p class="ques"> ש: איך שורדים את האירוע?</p>   
    <p>
        ת: תשמעו, אין ספק שמדובר כאן באירוע בו אתם הבורג המרכזי. זה אולי מלחיץ מראש אבל תוך כדי זה כנראה יהיה הדבר הכי
        כיף בעולם. תנסי לשים לב שאת משוחררת מדאגות למעט הדאגה הגדולה ביותר: איך לעשות כמה שיותר כיף! אלו כמה שעות
        שלא יחזרו יותר ולכן, דאגות, חששות ולחצים לא יעזרו. שימי לב לחוות את הרגע, לא לתת לכלום לעבור לידך, לשים לב
        שאת זוכרת כמה שיותר פרטים מהאירוע הנפלא הזה כדי שמחר, תוכלי לרכל עליו עם כולם.
    </p>
</div>

