<h1>איפוס סיסמא</h1>

<mat-dialog-content [formGroup]="ForgetPassword">

  <mat-lable> הקלד את כתובת המייל</mat-lable>
  <input matInput type="email" formControlName="email">
  <mat-error> {{getErrorEmail()}} </mat-error>
  <mat-error>{{message}} </mat-error>
</mat-dialog-content>

<ng-container *ngIf="loading$ | async">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>

<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>ביטול</button>
  <button mat-button (click)="sendEmail()" type="submit">אישור</button>
</mat-dialog-actions>