<h1>Get Married To do List</h1>
<div id="txt">
  <p>התארסתן? איזה כיף! עכשיו הגיע הזמן לגשת אל התכנונים החשובים באמת. אלא אם אתן מפיקות-על במקצועכן (או בנפשכן), אתן
    ודאי שואלות את עצמכן איך, איפה, מתי ובמה מתחילים?</p>
  <p>כיוון שאנחנו ממש אוהבות אתכן ורוצות להקל על חייכן, יצרנו צ׳ק ליסט מורחב, מהסוג שעושה סדר בבלאגן ומסביר בדיוק מתי
    מומלץ לסמן וי על כל פרט בחתונה (כמובן, הכל בו בגדר המלצה בלבד, אנחנו סומכות על האינטואיציה שלכן).</p>
  <p>כל שנותר לכן הוא להקליק על התמונה להדפסה, לתלות במקום אסטרטגי בבית ולהתחיל לקבל כיוון. </p>
</div>

<section>
  <div id="first">
    <h2>רגע אחרי שסגרתן וורט</h2>
    <p *ngFor="let item of TasksList">
      <span *ngIf="item.number==1">
        <mat-checkbox [checked]="done(item.id)" (change)="onChange($event.checked,item.id)">
        </mat-checkbox>{{item.name}}
      </span>
    </p>
  </div>

  <div id="second">
    <h2>כשלושה חודשים לפני החתונה</h2>
    <p *ngFor="let item of TasksList">
      <span *ngIf="item.number==2">
        <mat-checkbox [checked]="done(item.id)" (change)="onChange($event.checked,item.id)">
        </mat-checkbox>{{item.name}}
      </span>
    </p>
  </div>

  <div id="third">
    <h2>כחודשים לפני החתונה</h2>
    <p *ngFor="let item of TasksList">
      <span *ngIf="item.number==3">
        <mat-checkbox [checked]="done(item.id)" (change)="onChange($event.checked,item.id)">
        </mat-checkbox>{{item.name}}
      </span>
    </p>
  </div>

  <div id="fourth">
    <h2>כחודש לפני החתונה</h2>
    <p *ngFor="let item of TasksList">
      <span *ngIf="item.number==4">
        <mat-checkbox [checked]="done(item.id)" (change)="onChange($event.checked,item.id)">
        </mat-checkbox>{{item.name}}
      </span>
    </p>
  </div>

  <div id="fifth">
    <h2>כשבועיים לפני החתונה</h2>
    <p *ngFor="let item of TasksList">
      <span *ngIf="item.number==5">
        <mat-checkbox [checked]="done(item.id)" (change)="onChange($event.checked,item.id)">
        </mat-checkbox>{{item.name}}
      </span>
    </p>
  </div>

  <div id="sixth">
    <h2>ביום החתונה</h2>
    <p *ngFor="let item of TasksList">
      <span *ngIf="item.number==6">
        <mat-checkbox [checked]="done(item.id)" (change)="onChange($event.checked,item.id)"></mat-checkbox>{{item.name}}
      </span>
    </p>
  </div>
</section>