<div>
    <img src="assets/Image/Home/about.png">
    <h1>קצת עלינו...</h1>
    <h2>נעים להכיר : אתר Get Married</h2>
    <p>אנחנו מתרגשים להציג בפניכם את האתר המוביל לחתונה "כשרה למהדרין" בציבור החרדי / דתי.
    </p>
    <p>האתר מאגד בתוכו את כל מה שהכלה החרדית חושבת, נושמת וצריכה בתהליך החתונה ( בסדר, גם כל מה שהחתן
        צריך - אצלנו אין אפליה).</p>
    <p>
        באתר תוכלו למצוא מגוון רחב של נותני שירות החל משמלות כלה מרהיבות, אולמות נוצצים , תקליטנים
        צלמים ועוד ...</p>
    <p>תוך כדי חווית משתמש נוחה ויעילה, המאפשרת לכם אפשרויות חיפוש נוחות ומדויקות שיובילו אתכם אל
        הספק המושלם לכל תחום, לכל סגנון והכי חשוב - בכל תקציב.</p>
    <p>אז מה מייחד אותנו אתם שואלים?
    </p>
    <p>במשך חודשים צברנו את כל הידע הדרוש על עולם החתונות כדי ללוות אתכם משלב האירוסין ועד לשלב החופה כל המידע פה כמובן
        ללא עלות.</p>
    <p>בהרשמה לאתר תוכלו לקבל צ'קליסט ואזור אישי בו תוכלו לעקוב אחר תכנון החתונה הפרטית שלכם.
    </p>
    <p>
        אנחנו לגמרי כאן בשבילכם כל הדרך עד לחופה
    </p>
    <p> שלכם צוות אתר 'Get Married'</p>




</div>